{% extends "./index.html" %}

{% set active_page = 'plant.new_plant' %}

{% block body %}

    <form class="form" method="post" action="{{ url_for('plant.new_plant') }}">
        {{ form.hidden_tag() }}

        {{ form.name.label }}
        <span class="form__description">{{ form.name.description }}</span>
        {{ form.name() }}

        {{ form.min_temperature.label }}
        <span class="form__description">{{ form.min_temperature.description }}</span>
        {{ form.min_temperature() }}

        {{ form.max_temperature.label }}
        <span class="form__description">{{ form.max_temperature.description }}</span>
        {{ form.max_temperature() }}

        {{ form.moisture.label }}
        <span class="form__description">{{ form.moisture.description }}</span>
        {{ form.moisture() }}

{#        {{ form.min_moisture.label }}#}
{#        <span class="form__description">{{ form.min_moisture.description }}</span>#}
{#        {{ form.min_moisture() }}#}
{##}
{#        {{ form.max_moisture.label }}#}
{#        <span class="form__description">{{ form.max_moisture.description }}</span>#}
{#        {{ form.max_moisture() }}#}

        <input type="submit" value="Add plant">
    </form>

{% endblock %}